<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/panel">The Wall</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/panel">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/administrador">PORTAL ADMINISTRACION</a>
            </li>

            <li class="nnav-item active">
                <a class="nav-link" href="/colaborador">PORTAL COLABORADORES</a>
            </li>

        </ul>
        <a href="/logout" type="button" class="btn btn-dark float-right">LOGOUT</a>

    </div>
</nav>